// Navigation Styles here

.header-wrapper{
    width: @full-width;
    .center(center,center, row);
    nav {
        width: @full-width - 50%;
        font-weight: 800;
        a{
        text-decoration: none;
        color: @shark;
        padding: 0 5%;
        font-size: 1.5rem;
        }
    }

    h1{
        width: @full-width - 50%;
    }
}

